.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.profile-banner {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.profile-content {
    display: flex;
    height: 100%; /* Take up remaining height */
}

.profile-section-one {
    width: 33.33%;
    border: 1px solid #ccc; /* Add borders for visibility */
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.profile-section-one button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.profile-section-one button:hover {
    background-color: #e0e0e0;
}

.profile-section-two-three {
    width: 66.66%;
    border: 1px solid #ccc; /* Add borders for visibility */
    padding: 10px;
    display: flex; /* Add flex display */
    flex-direction: column; /* Stack content vertically */
}

app-search {
    width: 50%; /* Take half the width of the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
