<div class="about-header">
    <div class="logo">
      <span>COURSE SEARCH</span>
    </div>
    <div class="auth-buttons">
      <button (click)="navigateToSignUp()">SIGN UP</button>
      <button (click)="navigateToLogin()">LOGIN</button>
    </div>
  </div>
  
  <div class="about-content">
    <h2>WHAT IS COURSE SEARCH?</h2>
    <p>.......................................................</p>
  
    <h2>WHO IS IT FOR?</h2>
    <p>.......................................................</p>
  
    <h2>HOW CAN I BEGIN?</h2>
    <p>.......................................................</p>
  </div>