<div class="class-card">
    <div class="class-header">
      <h2>{{ className }}</h2>
      <span class="add-icon" *ngIf="!isInSchedule" (click)="addToSchedule()">+</span>
      <span class="remove-icon" *ngIf="isInSchedule" (click)="removeFromSchedule()">-</span>
    </div>
    <div>
      <p class="course-code">{{ subject }} {{ number }} {{ section }}</p>
      <p class="class-semester">Semester: {{ semester }}</p>
      <p class="class-times">Class Times: {{ classTimes }}</p>
      <p class="class-days">Days: {{ days }}</p>
    </div>
    <div class="action-icon">
      <span *ngIf="!isInSchedule">&#9654;</span>
      <span *ngIf="isInSchedule">&#10003;</span>
    </div>
  </div>