<div class="weekly-schedule-view">
  <div class="day-column" *ngFor="let day of days">
    <h3 class="day-label">{{ day }}</h3>
    <div class="class-card" *ngFor="let item of schedule[day]">
      <!-- Check if the item is a class or a custom event -->
      <app-class
        *ngIf="item.className"
        [schedule]="item.schedule"
        [className]="item.className"
        [number]="item.number"
        [subject]="item.subject"
        [section]="item.section"
        [semester]="item.semester"
        [classId]="item.classId"
        [classTimes]="item.classTimes"
        [days]="item.days"
        [isInSchedule]="true"
        (removeClass)="removeClassFromSchedule($event)"
      ></app-class>

      <app-custom-event
        *ngIf="item.name && !item.className"
        [name]="item.name"
        [location]="item.location"
        [day]="item.day"
        [startTime]="item.startTime"
        [endTime]="item.endTime"
        [id]="item.id"
        (removeEvent)="removeEventFromSchedule(day, $event)"
      ></app-custom-event>
    </div>
  </div>
</div>

<!-- Buttons container -->
<div class="schedule-buttons">
  <button class="save-button" (click)="saveSchedule()">Save Changes</button>
  <button class="delete-button" (click)="deleteSchedule()">Clear Schedule</button>
</div>