<div class="search-wrapper">
  <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Enter search query"
        class="search-input"
        (keydown.enter)="onSearch()"
      />
      <button (click)="onSearch()" class="search-button">Search</button>
    </div>
    
    <div class="results-container">
      <div *ngFor="let classItem of searchResults">
        <app-class [className]="classItem.className" [isInSchedule]="false" (addClass)="handleAddClass($event)"></app-class>
      </div>
  </div>
</div>  