<div class="search-wrapper">
  <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Enter search query"
        class="search-input"
      />
      <button (click)="onSearch()" class="search-button">Search</button>
    </div>
    
    <div class="results-container">
      <!-- <div *ngFor="let result of searchResults" class="result-item"> -->
        <!-- Placeholder for individual result components -->
        <!-- {{ result.name }}-->
      <!-- </div> --> 
      <div *ngFor="let classItem of searchResults">
        <app-class [className]="classItem.className"></app-class>
      </div>
  </div>
</div>