<div class="home-container">
    <div class="hotbar">
      <app-hotbar-f></app-hotbar-f>
    </div>
    <div class="content-container">
      <div class="left-panel">
        <app-recommended-links></app-recommended-links>
      </div>
      <div class="main-content">
        <h1>Candidate Schedules</h1>
        <div class="schedule-list">
          <div
            class="schedule-item"
            *ngFor="let schedule of candidateSchedules"
            (click)="navigateToSchedule(schedule.id)"
          >
            <p class="schedule-name">{{ schedule.name }}</p>
            <p class="schedule-semester">Semester: {{ schedule.semester }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>